<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>114689691443-ep7tetm0qa16bd2ghm53s26l14vr7tkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114689691443-ep7tetm0qa16bd2ghm53s26l14vr7tkn</string>
	<key>API_KEY</key>
	<string>AIzaSyCsEZE_1NB3DKyKW6eafyKIRzzv_jC7tII</string>
	<key>GCM_SENDER_ID</key>
	<string>114689691443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.keepcoding.ericriscofirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-keepcoding-bootcamp-8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-keepcoding-bootcamp-8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114689691443:ios:9619e308b1f8d073</string>
	<key>DATABASE_URL</key>
	<string>https://fir-keepcoding-bootcamp-8.firebaseio.com</string>
</dict>
</plist>